html, body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
}

h1 {
	font-size: 30px;
}

#instructions {
	display: block;
	width: 300px;
	margin: 0 auto;
}

canvas {
	background-image: url(http://www.hiveworkshop.com/forums/resource_images/1/sc2res_79/tn_files/Space.tga.jpg);
}